<%= simple_form_for @task, local: true, data: { turbo: false } do |form| %>
  <%= form.input :title %>
  <%= form.input :description %>
  <h4>category</h4>
  <%= form.input :category_names, label: "Tags (comma-separated)" %>
  <%= form.button :submit %>
<% end %>