<h1>New Task</h1>

<%= form_with model: @task, url: tasks_path do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  
  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
  </div>